.nav-pills .nav-link.active{
    background-color: var(--thm-primary) !important;
    color: #fff !important;
}
.nav-pills .nav-link{
color: black !important;
font-size: 12px;
line-height: 36px;
letter-spacing: .18em;
font-weight: 500;
text-transform: uppercase;
}
.closeIconMenu{
    font-size: 25px;
    color: #000;
}
.Mobile__navigation-box{
    text-transform: uppercase;
    list-style: none;
    padding-left: 10px!important;
}

.Mobile__navigation-box>li>a,.dropdown>ul>li>a{
    /* padding: 10px 0;
    padding-right:15rem ;
    padding-left:1rem ; */
    color: #000;
}
.Mobile__navigation-box>li>a:hover, .dropdown>ul>li>a:hover{
   background-color: var(--thm-primary);
   color: #fff;
}