.ContactBody{
    background-color: #F7F8F9;
    padding: 150px 0 150px 0px;
}
.Contact_Text>h3{
    font-size: 42px !important;
}
.Contact_Text>h6{
    color: #707070 !important;
    font-size: 17px !important;
    font-weight: 400 !important;
    line-height: 29px;
    margin-top: 15px;
}
.Contact_Text>h5, .Contact_Text>a>h5{
    color: #707070 !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    line-height: 29px;
    margin-top: 15px;
}
.ContactForm>input{
    background-color: transparent;
}
.ContactForm .contact-one__form .input-group input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="reset"]), .contact-one__form .input-group textarea{

   font-size: 14px !important;
    background-color: transparent !important;
   color: #707070 !important;
    font-weight: 400 !important;    
    padding-left: 30px;
    border-radius: 0px !important;
    border: 1px solid #e1e1e1 !important;
}
.contact-one__form{
margin-right: 0!important;
}