.Footer_Body{
    background: #000;
    color: #000;
    font-family: 'Roboto', sans-serif !important;
    padding: 15px;
}

.Footer_Line{
    font-size: 28px;
    line-height: 35px;
    color: #ffffff;
    font-weight: 500;
    width: 90%;
}
.topArea{
    padding: 131px 0 45px;
}
.Footer_Title h5{
    
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -.02em;
    font-weight: 500;
    color: #969696;   

    margin-bottom: 17px;
}
.Footer_Title i{
    color: #fff !important;
}
.Footer_Title p{
    

    color: #fff;
    line-height: 0.9rem;
font-size: 17px;
cursor: pointer;
}
.Footer_Title h6{
    margin-top: 63px;
    font-size: 11px;
    font-weight: 400;
    color:#969696 ;
}
.rightSection{
    width: 80%;
}
.BottomRow{
    padding-bottom: 112px
}
.Footericon{
    font-size: 25px !important;
    margin-right: 20px;
    cursor: pointer;
}
.LefText{
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0;
    font-weight: 400;
    color: #969696;
    margin-left:5rem ;
}