.Page_Header>p{
    color: #fff;
    font-size: 19px !important;
    line-height: 34px;
    margin: 4px 0 0;
    font-weight: 400 !important;
width: 60%;
}
.Page_Header>h2{
    padding-bottom: 0!important;
    text-transform: none!important;
    font-size: 105px;
    font-weight: 500;
}
@media (max-width:500px){
    .Page_Header>h2{
        
        font-size: 55px;
    }
}