.Title_Div{
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}
.Investor>a{
    color: #000 !important;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    vertical-align: middle;
    /* border-bottom: 1px solid var(--thm-primary); */
    text-decoration:underline var(--thm-primary);
}
.ProjectBtn>button{
    border-bottom: 1px solid var(--thm-primary);
    color: #000 !important;
    font-size: 12px;
    font-weight: 700 !important;
    text-transform: uppercase;
    
   
    
}
button.btn.btn-default.ProjectBtn.pl-0.pr-0{
    float: right ;
}
.ProjectBtn{
    margin-top: 35px !important;
    
}